header{
    background-color: coral;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}
h1{
    color: rgb(0, 0, 0);
    flex-grow: 1;
    text-align: center;
    text-shadow: 2px 2px rgb(216, 105, 65);
}
body{
    width: 100%;
    margin: 0%;;
    background-color: lightseagreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer{
    background-color: coral;
    padding: 30px;
    text-align: center;
    justify-content: center;
}
.Contenedor1{
    padding: 0p;
    display: flex;
    justify-content: center;
    background-image:url(./toto.jpeg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    align-items: center;
}

.texto1{
    color:black;
    font-size: xx-large;
    background-color: aliceblue;
    text-shadow: 1px 1px grey;
}

.Contenedor2{
    width: 100%;
    background-color: lightseagreen;
}
.menu-botones{
    display: flex;
    width: 300px;
    justify-content: space-around;
    list-style-type: none;
}
.boton{
    color: black;
    background-color: aliceblue;
    font-size: x-large;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
}
.boton:active{
    box-shadow: 0px 5px 5px black; 
}
/*40 40 50 20 100 20 110 40*/
.icono-principal{
   background-color: transparent;
   /*border: solid black 2px;*/
   width: 200px;
   height: 100px;
}
.Contenedor2{
     margin-bottom: 20px;
     background-color: coral;
    padding-bottom: 50px ;
}
h2{
    text-align: center;
    text-shadow:2px 2px rgb(216, 105, 65); ;
}
.text-presentacion{
    background-color: antiquewhite;
}
#contenido{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin:50px;
    align-items: center;
    
}
#subtitulo{
    padding: 20px;
}
#p1{
    padding: 20px;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.card{
    background-color: darkseagreen;
    width: 300px;
    height: 300px;
    border-radius: 15%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: 'Franklin Gothic Medium';
    
}
.imagencard{
    width: 300px;
    height: 200px;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
}
